@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  --font-serif: "Playfair Display", ui-serif, Georgia, serif;

  --color-industrial-bg: #111111;
  --color-industrial-card: #1c1c1c;
  --color-industrial-red: #d92b2b;
  --color-industrial-orange: #f59e0b;
  --color-industrial-green: #10b981;
  --color-industrial-border: rgba(255, 255, 255, 0.05);
}

@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,400&family=Inter:wght@400;600;900&display=swap');

  body {
    @apply antialiased text-white bg-industrial-bg;
    font-feature-settings: "ss01", "ss02", "cv01", "cv02";
  }

  /* Custom scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-white/10 rounded-full hover:bg-white/20;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
